.Awardimage{
width: 140%;
object-fit: cover;
margin-top: 130px;
margin-left: 20px;
}
.AwardContainer{
    width: 300px;
}
@media only screen and (max-width: 768px) {
    .Awardimage{
        width: 80%;
        object-fit: cover;
        margin-top: 100px;
        margin-left: 20px;
        justify-self: center;
        align-self: center;
        }
        .AwardContainer{
            width: 150px;
            display: inline;
        }
  }